@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply m-0 box-border p-0;
}

html {
  @apply scroll-smooth;
}

body {
  @apply font-beVietnam;
}

html *::-webkit-scrollbar {
  @apply w-2 rounded-none;
}

html *::-webkit-scrollbar-thumb {
  @apply rounded bg-[#f1f1f2];
}

html *::-webkit-scrollbar-track {
  @apply rounded-none bg-transparent;
}
